@media screen and (min-width: 767px) {
}

@media screen and (max-width: 767px) {
    .hedder{
        width: 300px;
    }

    .LEFT{
        width: 100px;
    }

    .left{
        width: 125px;
    }

    .right{
        width: 75px;
    }

    .bottom{
        width: 200px;
    }

    .footer{
        width: 300px;
    }
}

@media screen and (max-width: 479px) {
    .main{
        display: block;
    }

    .RIGHTup{
        display: block;
    }
    
    .hedder{
        width: 150px;
    }

    .LEFT{
        width: 150px;
        height: 100px;
    }

    .upper{
        width: 150px;
    }

    .lower{
        width: 150px;
    }

    .right{
        width: 150px;
        height: 100px;
    }

    .bottom{
        width: 150px;
    }

    .footer{
        width: 150px;
    }
}